* {
  body {
    font-family: 'Roboto', sans-serif; /* Replace 'Roboto' with your desired font */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* You can change this font as per your design preference */
}

body {
  background-color: #14789cc5;
  /* Clean light background */
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

/* Header Styling */
header {
  background-color: #010102c5;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 4px 4px 25px 5px rgba(7, 6, 38, 0.752);
}

header h1 {
  color: white;
  font-size: 1.5rem;
}

header h1:hover {
  color: rgba(240, 207, 16, 0.822);
}

.sec-box {
  display: flex;
}

nav {
  margin-top: 15px;
  padding-bottom: 5px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 15px;
  transition: color 0.1s;
}

nav a:hover {
  color: rgba(255, 208, 22, 0.775);
}

.highlight {
  color: rgb(255, 205, 42);
  border-bottom: 2px solid rgb(209, 189, 100);
  padding-bottom: 8px;
}

.head h1 {
  padding-left: 70px;
}

/* About Section */
.index-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(196, 200, 200);
  box-shadow: 0 4px 20px rgba(26, 12, 12, 0.1);
  border-radius: 15px;
  margin-top: 30px;
  height: 375px;
  box-shadow: -8px 8px 3px rgba(7, 27, 71, 0.255);
  transition: transform 0.4s;
}

.index-section:hover {
  transform: translateY(-10px);
}


.index-text {
  width: 60%;
}

.index-text h2 {
  font-size: 2.5rem;
  color: #000000;
}

.index-text h3 {
  font-size: 1.8rem;
  margin-bottom: 40px;
  color: #b28a2d;
}

.index-text p {
  font-size: 1.2rem;
  color: #0a011c;
  margin-bottom: 30px;
}

/* .about-text .resume-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #f4b400;
  color: white;
  border-radius: 25px;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s;
} */

.index-btn {
  padding: 8px 10px;
  border-radius: 15px;
  border: none;
  background-color: rgb(89, 121, 150);
  margin-right: 10px;
  cursor: pointer;
}

#resume-btn {
  background-color: #d39e0d;
  border: 4px solid #d39e0d;
}

#resume-btn:hover {
  border: 4px solid #ae830c;
}

#connect-btn {
  background-color: rgb(138, 22, 22);
  border: 4px solid rgb(138, 22, 22);
}

#connect-btn:hover {
  border: 4px solid rgb(102, 18, 18);
}

.index-text .resume-btn:hover {
  background-color: #e3a600;
}

.index-image {
  width: 35%;
}

.index-image img {
  width: 50%;
  border-radius: 80%;
  box-shadow: 0 4px 15px rgb(89, 121, 150);
}

/* Projects Section */

.cards-holder {
  display: flex;
  justify-content: center;
  gap: 80px;
  /* align-items: center; */
}

.projects-section {
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto 30px auto;
}

.projects-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #d8a221;
}

.projects-section h2:hover {
  color: #31250f;
}

.project-card {
  background-color: rgb(196, 200, 200);
  width: 20vw;
  padding: 30px;
  margin: 20px 0;
  border-radius: 15px;
  box-shadow: -8px 8px 3px rgba(7, 27, 71, 0.255);
  transition: transform 0.1s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card h3 {
  font-size: 1.2rem;
  font-weight: 800;
  color: #333;
  margin-bottom: 15px;
}

.project-card p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 15px;
}

.project-card a {
  text-decoration: none;
  color: #c69817;
  font-weight: bold;
  transition: color 0.3s;
}

.project-card a:hover {
  color: #262523;
}

/* Contact Section */
.contact-section {
  padding: 50px;
  max-width: 700px;
  margin: 35px auto;
  background-color:  rgb(196, 200, 200);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-shadow: -9px 9px 4px rgba(0, 0, 0, 0.255);
  height: 375px;
  transition: transform 0.4s;
}



.contact-section:hover {
  transform: translateY(-10px);
}
.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #31250f;
}

.contact-section h2:hover {
  color: #d8a221;
}

.contact-section p {
  font-size: 1.2rem;
  color: #030b2b;
  margin-bottom: 15px;
}

.contact-section a {
  display: block;
  text-decoration: none;
  color: #c29312;
  font-weight: bold;
  margin-top: 10px;
  transition: transform 0.1s;
}

.contact-section a:hover {
  transform: translateY(-5px);
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background-color: #10141b;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
}

footer img {
  width: 25px;
  margin: 0 10px;
}

footer p {
  margin-top: 10px;
  font-size: 0.9rem;
}


footer i{
  padding-right: 12px;
}
/* Helps footer stay at the bottom */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px;
}




.index-table, .contact-table, .projects-table {
    width: auto;
    max-width: 90%; /* Limit width on larger screens */
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
